@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');

body {
  background-image: linear-gradient(
    to right bottom,
    #ff0057,
    #b11663,
    #3d0d2b,
    #333,
    #333
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main{
width:50%;
}

.card{
  box-shadow: 0 6px 6px rgba(#000, 0.3);
  max-width: 720px;
  margin: 5% auto;
  transition: 200ms;
  background: #fff;
  
  .card__title{
    display: flex;
    align-items: center;
    padding: 30px 40px;
    
    h3{
      flex: 0 1 200px;
      text-align: right;
      margin: 0;
      color: #252525;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
    }
    
  .card__body{
    padding: 0 40px;
    display: flex;
    flex-flow: row no-wrap;
    margin-bottom: 25px;
    
    > .half{
      box-sizing: border-box;
      padding: 0 15px;
      align-items: flex-start;
      flex:  0 50%;
      width: 100px;
    }
    
    .featured_text{
      h1{
        margin: 0;
        padding: 0;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        font-size: 64px;
        line-height: 50px;
        color: #181e28;
      }
      
      p{
        margin: 0;
        padding: 0;
        
        &.sub{
          font-family: "Montserrat", sans-serif;
          font-size: 26px;
          text-transform: uppercase;
          color: #686e77;
          font-weight: 300;
          margin-bottom: 5px;
        }
        
        &.price{
          font-family: "Fjalla One", sans-serif;
          color: #252525;
          font-size: 26px;
        }
      }
    }
    
    .image{
      padding-top: 15px;
      max-width: 30%;
      height: 30%;
      
      img{
        display: block;
        max-width: 30%;
        height: 30%;
        
      }
    }
    
    .description{
      margin-bottom: 25px;
      
      p{
        margin: 0;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        line-height: 27px;
        font-size: 16px;
        color: #555;
      }
    }
    
 
  }
  
}
}
.inputBox
{
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 7px 10px 7px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 2em;
}