.lesson-constructor-container {

     width: fit-content;
     display: inline;
     border: 1px solid #ff0057;
  
   
     margin-left: 20px;
     
     right: 100px;
     padding: 5px;
     justify-content: center;
     align-items: center;
     transition: 0.2s ease;
     cursor: pointer;
     text-decoration: none;
   
     &:hover {
      background-color: #fff;
      color:#ff0057;
      
     }
   
     span {
   
       font-size: 20px;
       
       text-decoration: none;
     }
   
     .badge {
   
       font-size: 14px;
       width: 24px;
       height: 24px;
       display: flex;
       justify-content: center;
       align-items: center;
     
     }
   }
 
 .lesson-constructor-container.disabled-link {

     pointer-events: none;
     cursor: default; /* Changes the cursor to indicate the item is not clickable */
     
     color: #f8f3f4; /* A lighter shade of grey for the text */
 }
 
 .lesson-constructor-container.disabled-link:hover {
     transform: none; /* Disables the hover effect */
 }
 
 .lesson-constructor-container.disabled-link .badge {
     color: #fcf9f9;
 }
 
 